Library/Xsd2Code.XmlSchema.FpML/FpML_Example.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.fpml.org/FpML-5/confirmation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="requestAllocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="messageId">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:unsignedInt">
                      <xs:attribute name="messageIdScheme" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="sentBy" type="xs:string" />
              <xs:element name="creationTimestamp" type="xs:dateTime" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="isCorrection" type="xs:boolean" />
        <xs:element name="correlationId">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:unsignedInt">
                <xs:attribute name="correlationIdScheme" type="xs:string" use="required" />
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="sequenceNumber" type="xs:unsignedByte" />
        <xs:element name="blockTradeIdentifier">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="partyReference">
                <xs:complexType>
                  <xs:attribute name="href" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="tradeId">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:unsignedShort">
                      <xs:attribute name="tradeIdScheme" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="allocations">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="allocation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="allocationTradeId">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="partyReference">
                            <xs:complexType>
                              <xs:attribute name="href" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="tradeId">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:unsignedShort">
                                  <xs:attribute name="tradeIdScheme" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="partyReference">
                      <xs:complexType>
                        <xs:attribute name="href" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="accountReference">
                      <xs:complexType>
                        <xs:attribute name="href" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="allocatedFraction" type="xs:decimal" />
                    <xs:element name="collateral">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="independentAmount">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="payerPartyReference">
                                  <xs:complexType>
                                    <xs:attribute name="href" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="receiverPartyReference">
                                  <xs:complexType>
                                    <xs:attribute name="href" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="paymentDetail">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="paymentAmount">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="currency" type="xs:string" />
                                            <xs:element name="amount" type="xs:unsignedInt" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="creditChargeAmount">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="currency" type="xs:string" />
                          <xs:element name="amount" type="xs:unsignedShort" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="approvals">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="approval">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="type" type="xs:string" />
                                <xs:element name="status" type="xs:string" />
                                <xs:element minOccurs="0" name="approver" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="party">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="partyId">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="partyIdScheme" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="partyName" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="account">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="accountId">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="accountIdScheme" type="xs:string" use="optional" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="accountName" type="xs:string" />
              <xs:element name="servicingParty">
                <xs:complexType>
                  <xs:attribute name="href" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="fpmlVersion" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>